.dashboard-grid {
  display: block;

  .row {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(6, 1fr);
    min-height: calc(100vh - 320px - 50px - 33px);
    margin-bottom: 20px;

    &.g33-66 {
      .widget:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 1;
      }
      .widget:nth-child(2) {
        grid-column-start: 3;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 1;
      }
    }
    &.g66-33 {
      .widget:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 1;
      }
      .widget:nth-child(2) {
        grid-column-start: 5;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 1;
      }
    }
    &.g50-50 {
      .widget:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 1;
      }
      .widget:nth-child(2) {
        grid-column-start: 4;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 1;
      }
    }
  }
}
