.language {
  position: relative;

  &__current {
    height: 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 20px;
    @include transition;

    &:hover {
      opacity: .75;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      @include sprite('world');
    }
  }
}
