.page-title{
  display: block;
  font-size: 34px;
  line-height: 100%;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 0 20px;

  @include tablet-and-mobile {
    padding: 0;
    margin-bottom: 30px;
  }
}