.widget-select {
  width: 600px;
  margin: 0 auto;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  position: relative;

  @include mobile {
    width: 100%;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  &.g66-33 {
    grid-template-columns: 2fr 1fr;
  }
  &.g33-66 {
    grid-template-columns: 1fr 2fr;
  }

  &__item {
    &-name {
      display: block;
      text-align: center;
      font-weight: bold;
      margin-bottom: 5px;
    }

    &-body {
      border-radius: 4px;
      border: 1px solid #fff;
      min-height: 150px;
      display: flex;
      align-items: center;
      justify-content: center;

      li {
        cursor: pointer;

        &:hover,
        &.selected {
          color: #d41217;
        }
      }
    }
  }
}