.button-hint {
  position: relative;
  width: 36px;

  @include tablet-and-mobile {
    width: 106px;
  }

  img {
    width: 36px;
    height: 36px;
    display: block;
    @include transition;

    @include tablet-and-mobile {
      width: 106px;
      height: 100%;
    }
  }

  &__hint {
    background: $color-gray-dark;
    @include font(13px, 16px, bold, $color-white);
    padding: 3px 5px;
    z-index: 1;
    left: 75%;
    top: 0;
    transform: translateY(-75%);
    opacity: 0;
    visibility: hidden;
    position: absolute;
    @include transition;
  }

  &:hover {
    img{
      opacity: .75;
    }
    .button-hint__hint {
      opacity: 1;
      visibility: visible;
    }
  }
}