.event-card {
  display: flex;
  width: 100%;
  border-radius: 4px;
  border: 1px solid $color-primary;
  min-height: 64px;
  color: $color-primary;
  font-weight: bold;
  overflow: hidden;

  &:not(:first-child) {
    margin-top: 10px;
  }

  &__left {
    padding: 10px;
    border-right: 1px solid $color-primary;
    min-width: 100px;
    width: 100px;

    &-inner {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: flex-end;
    }
  }

  &__main {
    flex: 1;
    display: flex;
    justify-content: space-between;

    &.block {
      @include mobile {
        flex-direction: column;

        .event-card__right {
          max-width: 110px;
          align-self: flex-end;
        }
      }
    }
  }

  &__center {
    display: flex;
    flex: 1 1 1px;
    padding: 10px;

    @include mobile {
      flex-direction: column;
    }

    &-left {
      flex: 1 1 50%;
      max-width: 50%;

      @include mobile {
        flex: auto;
        max-width: none;
      }
    }

    &-right {
      flex: 1 1 50%;
      max-width: 50%;

      @include mobile {
        flex: auto;
        max-width: none;
        margin-top: 10px;
      }
    }
  }

  &__day {
    font-size: 14px;
    transform: translateY(-5px);
  }

  &__number {
    font-size: 34px;
    margin-left: 5px;
    width: 50px;
  }

  &__name {
    font-size: 24px;
    line-height: 100%;
    display: block;
    word-break: break-word;

    @include tablet-and-mobile {
      font-size: 20px;
    }
  }

  &__place {
    margin-top: 15px;
    display: block;
    color: $color-gray-dark;
  }

  &__right {
    min-width: 110px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
  }

  &__badge {
    min-width: 125px;
    height: 25px;
    padding: 5px;
    background: $color-primary;
    color: $color-white;
    margin-top: 10px;
    width: 100%;

    @include tablet-and-mobile {
      min-width: 110px;
    }
  }

  &__link{
    @include transition;
    &:hover{
      opacity: .75;
    }
  }

  &__now{
    color: $color-black;
  }

  &__type{
    color: $color-white;
  }

  &__content{
    padding: 0 50px 0 20px;
    flex: 1 1 1px;
    color: #707070;
    display: flex;
    font-weight: 400;
    flex-direction: column;

    @include mobile {
      padding: 0;
    }
  }

  &__time{
    margin-top: auto;
    padding-top: 10px;
    font-weight: bold;
  }

  &--type-arno{
    background: $color-gray-dark;
    color: $color-white;
    border-color: $color-gray-dark;

    .event-card__left{
      border-color: $color-white;
    }
    .event-card__place{
      color: $color-white;
    }

    .event-card__content{
      color: $color-white;
    }

    .event-card__badge{
      background: $color-white;
    }

    .event-card__type{
      color: #bfbfbf;
    }

    .event-card__now{
      color: $color-gray-dark;
    }
  }

  &--type-primary{
    background: $color-primary;
    color: $color-white;
    border-color: $color-primary;

    .event-card__left{
      border-color: $color-white;
    }
    .event-card__place{
      color: $color-white;
    }

    .event-card__badge{
      background: $color-white;
    }

    .event-card__type{
      color: $color-black;
    }

    .event-card__now{
      color: $color-primary;
    }

    .event-card__content{
      color: $color-white;
    }
  }

  &--type-gray{
    background: #EDEDED;
    color: $color-gray-dark;
    border-color: #BFBFBF;

    .event-card__left{
      border-color: $color-gray-dark;
    }
    .event-card__place{
      color: $color-gray-dark;
    }

    .event-card__badge{
      background: #BFBFBF;
    }

    .event-card__type{
      color: $color-white;
    }

    .event-card__now{
      color: $color-gray-dark;
    }

    .event-card__content{
      color: $color-gray-dark;
    }
  }

  &--type-disabled{
    background: #fff;
    color: $color-gray-dark;
    border-color: $color-gray-dark;
    opacity: 0.5;

    .event-card__left{
      border-color: $color-gray-dark;
    }
    .event-card__place{
      color: $color-gray-dark;
    }

    .event-card__badge{
      background: #BFBFBF;
    }

    .event-card__type{
      color: $color-white;
    }

    .event-card__now{
      color: $color-gray-dark;
    }

    .event-card__content{
      color: $color-gray-dark;
    }
  }

  &--type-online{
    background: #fff;
    color: $color-black;
    border-color: $color-black;

    .event-card__left{
      border-color: $color-black;
    }
    .event-card__place{
      color: $color-black;
    }

    .event-card__badge{
      background: $color-black;
    }

    .event-card__type{
      color: $color-white;
    }

    .event-card__now{
      color: $color-primary;
    }

    .event-card__content{
      color: $color-black;
    }
  }
}