.widget {
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.59);
  border: 1px solid #E60A17;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &__title {
    border-radius: 4px 4px 0 0;
    padding: 10px;
    display: block;
    color: $color-primary;
    font-weight: bold;
    font-size: 14px;
    background: $color-white;
    position: relative;

    &:after {
      content: '';
      height: 1px;
      background: $color-primary;
      left: 5px;
      right: 5px;
      bottom: 0;
      position: absolute;
    }
  }

  &__body {
    padding: 15px 10px;
    background: $color-white;
    flex: 1 1 1px;
  }

  &__link {
    height: 25px;
    color: $color-white;
    background: $color-primary;
    padding: 0 15px;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-top: auto;
    white-space: nowrap;

    @include transition;

    &:hover {
      opacity: .85;
    }
  }
}