<div class="event-card event-card--type-{{type}}">
    <div class="event-card__left">
        <div class="event-card__left-inner">
            <span class="event-card__day">{{ day }}</span>
            <span class="event-card__number">{{ number }}.</span>
        </div>
    </div>

    <div class="event-card__main {{#if text}}block{{/if}}">
        <div class="event-card__center">
            <div class="event-card__center-left">
                <span class="event-card__name">{{ name }}</span>
                <span class="event-card__place">{{ place }}</span>
            </div>

            {{#if text}}
                <div class="event-card__center-right">
                    <div class="event-card__content">
                        <p class="event-card__text">{{{ text }}}</p>
                        <span class="event-card__time">{{ time }}</span>
                    </div>
                </div>
            {{/if}}
        </div>

        <div class="event-card__right">
            {{# with-link}}
                <a href="#" class="event-card__link">
                    LINK >>>
                </a>
            {{/with-link}}
            <div class="event-card__badge">
                <span class="event-card__now">NOW</span>
                <span class="event-card__type">// {{ type-label }}</span>
            </div>
        </div>
    </div>
</div>