<header class="panel">
    <div class="panel__left">
        <div class="language js-toggle">
            <span class="language__current js-toggle__button">DE</span>
            <ul class="header-dropdown">
                <li class="header-dropdown__item">
                    <a href="#" class="header-dropdown__link">DE</a>
                </li>
                <li class="header-dropdown__item">
                    <a href="#" class="header-dropdown__link">EN</a>
                </li>
                <li class="header-dropdown__item">
                    <a href="#" class="header-dropdown__link">IT</a>
                </li>
                <li class="header-dropdown__item">
                    <a href="#" class="header-dropdown__link">FR</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel__links">
        <a href="#" class="panel__link">ARNO.SHOP</a>
        <a href="#" class="panel__link">ARNO.DE</a>
    </div>
</header>

<div class="sidebar-wrapper">
    {{> layout/sidebar }}
</div>

<header class="header">
    <div class="header__top">
        <div class="header__search">
            <input type="text" class="header__search-input" placeholder="SEARCH">
        </div>

        <div class="header__center">
            <div class="header-profile js-toggle">
                <div class="header-profile__photo">

                </div>
                <span class="header-profile__wrapper">
                    <button class="header-profile__name js-toggle__button">
                    Maximilian Mustermann
                        </button>
                    <ul class="header-dropdown">
                        <li class="header-dropdown__item">
                            <a href="./dashboard-setup.html" class="header-dropdown__link">
                                Setup Dashboard
                            </a>
                        </li>
                        <li class="header-dropdown__item">
                            <a href="#" class="header-dropdown__link">
                                Logout
                            </a>
                        </li>
                    </ul>
                </span>
            </div>
        </div>

        <div class="header__logo">
            <img src="../assets/images/logo.svg" alt="Arno">
        </div>
    </div>

    <div class="header__middle">
        {{> components/button-hint icon="buttons/05" hint="Hint 05" link="./dashboard.html" }}
        {{> components/button-hint icon="buttons/06" hint="Hint 06" }}
        {{> components/button-hint icon="buttons/07" hint="KALENDER" link="./calendar.html" }}
        {{> components/button-hint icon="buttons/08" hint="Hint 08" }}
        {{> components/button-hint icon="buttons/09" hint="Hint 09" }}
        <span class="header__current">INTERN // DASHBOARD</span>
    </div>

    <div class="header__middle-bottom">
        <div class="header__search mobile">
            <input type="text" class="header__search-input" placeholder="SEARCH">
        </div>
        <div class="sidebar-wrapper mobile">
            {{> layout/sidebar }}
        </div>
    </div>

    <div class="header__bottom">
        {{#> blocks/widget link="ZUM VOLLSTÄNDIGEN ARTIKEL >>>"}}
            <div class="header__article">
                AKTUELLE THEMEN<br/>
                MITARBEITER STELLT SICH VOR<br/>
                ABTEILUNG/NIEDERLASSUNG
            </div>
        {{/blocks/widget}}

        {{#> blocks/widget link="ZUM VOLLSTÄNDIGEN ARTIKEL >>>"}}
            <div class="header__article">
                AKTUELLE THEMEN<br/>
                GF INFORMIERT
            </div>
        {{/blocks/widget}}

        {{#> blocks/widget link="ZUM VOLLSTÄNDIGEN ARTIKEL >>>"}}
            <div class="header__article">
                AKTUELLE THEMEN<br/>
                GF INFORMIERT
            </div>
        {{/blocks/widget}}

        {{#> blocks/widget link="ZUM VOLLSTÄNDIGEN ARTIKEL >>>"}}
            <div class="header__article">
                AKTUELLE THEMEN<br/>
                INSIDE
            </div>
        {{/blocks/widget}}
    </div>
</header>

<main class="main">