@font-face {
    font-family: 'NewsGothicCondensed';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/NewsGothicCondensed.woff) format("woff");
}

@font-face {
    font-family: 'NewsGothicCondensed';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url(../fonts/NewsGothicCondensedBold.woff) format("woff");
}