{{!Calendar}}
{{> layout/head page-title="Calendar"}}
{{> layout/header }}

<h1 class="page-title">ALLES AUF EINEN BLICK</h1>

<div class="page-calendar">
    {{> pages/calendar/events }}
</div>

{{> layout/footer }}
