{{!First Time}}
{{> layout/head page-title="First Time" background=true}}
{{> layout/header }}

<div class="modal">
    <div class="first-time">
        <span class="first-time__title">IHR PERSÖNLICHES DASHBOARD</span>

        <p class="first-time__text">
            Richten Sie sich jetzt ihr persönliches Dashboard ein.<br/>
            Wählen Sie zwischen drei Zeilenaufteilungen und belegen Sie jedes Feld mit
            Ihrem bevorzugten Schnellauswahl Inhalt. So haben Sie die für Sie wichtigen Inhalte immer schnell im Blick.
        </p>

        <div class="first-time__button">
            <a href="./dashboard-setup.html" class="btn">DASHBOARD EINRICHTEN</a>
        </div>
    </div>
</div>

{{> layout/footer }}
