{{!Modals}}
{{> layout/head page-title="First Time" background=true}}
{{> layout/header }}

<div class="modal">
    <a href="./dashboard-setup.html" class="modal__close"></a>

    <span class="modal__title">
        IHR PERSÖNLICHES DASHBOARD
    </span>

    <span class="modal__text">
        WÄHLEN SIE IHRE ZEILENAUFTEILUNG
    </span>

    <div class="modal__body">
        <div class="schema-select schema-select__row" x-on:click="selectGrid($el, '33-66')">
            <div class="schema-select__item"></div>
            <div class="schema-select__item"></div>
        </div>
        <div class="schema-select schema-select__row" x-on:click="selectGrid($el, '50-50')">
            <div class="schema-select__item"></div>
            <div class="schema-select__item"></div>
        </div>
        <div class="schema-select schema-select__row" x-on:click="selectGrid($el, '66-33')">
            <div class="schema-select__item"></div>
            <div class="schema-select__item"></div>
        </div>
    </div>

    <div class="modal__button">
        <button class="btn">ZEILENFELDER FÜLLEN</button>
    </div>
</div>

<br/><br/>
<div class="modal">
    <a href="./dashboard-setup.html" class="modal__close"></a>

    <span class="modal__title">
        IHR PERSÖNLICHES DASHBOARD
    </span>

    <span class="modal__text">
        WÄHLEN SIE DEN INHALT DER ZEILENFELDER
    </span>

    <div class="modal__body">
        <div class="widget-select">
            <div class="widget-select__item">
                <span class="widget-select__item-name">
                    LINKES FELD
                </span>
                <div class="widget-select__item-body">
                    <span class="dummy">
                        LISTE DER INHALTSMÖGLICHKEITEN
                    </span>
                </div>
            </div>
            <div class="widget-select__item">
                <span class="widget-select__item-name">
                    RECHTES FELD
                </span>
                <div class="widget-select__item-body">
                    <span class="dummy">
                        LISTE DER INHALTSMÖGLICHKEITEN
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="modal__button">
        <button class="btn">NEUE ZEILE HINZUFÜGEN</button>
    </div>
</div>

{{> layout/footer }}
