<div class="widget">
    {{#if title}}
        <span class="widget__title">{{ title }}</span>
    {{/if}}
    <div class="widget__body">
        {{> @partial-block}}
    </div>
    {{#if link}}
        <a href="#" class="widget__link">
            {{ link }}
        </a>
    {{/if}}
</div>