.panel {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
  height: 25px;
  background: $color-primary;
  color: $color-white;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__left {
    padding: 0 25px;
  }

  &__links {
    display: flex;
  }

  &__link {
    line-height: 25px;
    min-width: 200px;
    text-align: center;
    display: block;
    border-left: 1px solid $color-white;
    @include transition;
    font-weight: bold;
    font-size: 14px;

    &:hover {
      opacity: .85;
    }

    @include tablet-and-mobile {
      min-width: 100px;
    }
  }
}
