<div class="event-card event-card--type-event">
    <div class="event-card__left">
        <div class="event-card__left-inner">
            <span class="event-card__day">MO</span>
            <span class="event-card__number">09.</span>
        </div>
    </div>

    <div class="event-card__main ">
        <div class="event-card__center">
            <div class="event-card__center-left">
                <span class="event-card__name">MESSE XY</span>
                <span class="event-card__place">STADT // LAND</span>
            </div>

        </div>

        <div class="event-card__right">
            <a href="#" class="event-card__link">
                LINK &gt;&gt;&gt;
            </a>
            <div class="event-card__badge">
                <span class="event-card__now">NOW</span>
                <span class="event-card__type">// EVENT</span>
            </div>
        </div>
    </div>
</div>
<div class="event-card event-card--type-arno">
    <div class="event-card__left">
        <div class="event-card__left-inner">
            <span class="event-card__day">MO</span>
            <span class="event-card__number">09.</span>
        </div>
    </div>

    <div class="event-card__main ">
        <div class="event-card__center">
            <div class="event-card__center-left">
                <span class="event-card__name">MAXIMILIAN MUSTERMANN</span>
                <span class="event-card__place">STANDORT // LAND</span>
            </div>

        </div>

        <div class="event-card__right">
            <div class="event-card__badge">
                <span class="event-card__now">NOW</span>
                <span class="event-card__type">// ARNO</span>
            </div>
        </div>
    </div>
</div>